
<h1> Welcome to your cart </h1>


  <form action= '/choice' method='post'>
    Your category is:
    <% @cart.each do |item| %>

    <input value= "<%= item.category %>" name="choice">

    <% end %>
  </form>

  <form action= '/choice' method='post'>
    In your basket...
    <% @basket.each do |item| %>
    <ul>
      <li> <%= item %> </li>
    </ul>

    <% end %>
  </form>


  <form action = '/' >
   <input type = "submit" value = "Return to main page"></input>
    </form>

    <form action = '/' >
     <input type = "submit" value = "Checkout"></input>
      </form>
