<!DOCTYPE html>
<html lang="en">

<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>

        <title>The Greatest Grocery App</title>
        <link rel="stylesheet" href="/styles.css" type ="text/css"></link>

        <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
   $(document).ready(function(){
       $("input[type='button']").click(function(){
           var radioValue = $("input[name='']:checked").val();
           if(radioValue){
               alert("Your are a - " + radioValue);
           }
       });
   });
</script> -->
</head>

<body>
  <div class="wrapper">
    <h1> The greatest grocery app! </h1>
    <p> Pick your items, and we'll tell you how much your spending in each category! </p>

   <% @grocery.each do |item| %>
    <button formaction = '/choice' type="submit" value = '<%item.item %>' name = 'choice'>
      <li>
                <%= item.item %>
                <%= item.price %>
      </li>
    </button>
   <% end %>

  </div>
<script type="text/javascript">

</script>

</body>
